$array-1-background: #444444;
$array-2-background: #636363;
$array-3-background: #1fe9b5;

$array-1-text-color: #ffffff;
$array-2-text-color: #ffffff;
$array-3-text-color: #000000;

$screen-background: #ffffff;

$screen-text-color: #737373;
