.screen {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 6fr;
  align-items: center;
  margin: 20px;
  font-size: 9vw;
  @media only screen and (min-width: 768px) {
    font-size: 69px;
  }
  position: relative;
}

.screen__clear {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  font-size: 1.2rem;
  color: black;
}
